# Netlify Functions
GAS_DEPLOY_URL=https://script.google.com/macros/s/TU_DEPLOY_ID/exec
GAS_ADMIN_TOKEN=REEMPLAZAR_LOGIN_PANEL
WHOLESALE_ACCESS_CODE=REEMPLAZAR_LOGIN_MAYORISTA

# Opcional: dominio público
PUBLIC_SITE_URL=https://tu-dominio.com
